<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815183273876-dlvdj2afm0635nbavosg0taidqic70n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815183273876-dlvdj2afm0635nbavosg0taidqic70n0</string>
	<key>API_KEY</key>
	<string>AIzaSyD6_t6M9y3kwSwEJYdZQVF80bbIeWpVjPc</string>
	<key>GCM_SENDER_ID</key>
	<string>815183273876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.aoba.sutareco</string>
	<key>PROJECT_ID</key>
	<string>sutareco-c0a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>sutareco-c0a1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815183273876:ios:cbabac8b08d2382e94b981</string>
</dict>
</plist>